# --- Python ---
*.pyc
__pycache__/
.pytest_cache/

# Môi trường ảo
venv/
.env

# Database local
*.db
*.sqlite3

# --- Terraform (Rất quan trọng) ---
# Bỏ qua thư mục plugin (rất NẶNG)
*/.terraform/

# Bỏ qua file trạng thái (chứa THÔNG TIN NHẠY CẢM)
*/terraform.tfstate
*/terraform.tfstate.backup

# Bỏ qua file kế hoạch (có thể chứa thông tin nhạy cảm)
*/tfplan

# Bỏ qua file biến (chứa MẬT KHẨU)
*/terraform.tfvars

# Bỏ qua file lock
*/.terraform.lock.hcl

# --- AWS/EB ---
.elasticbeanstalk/

# --- File hệ thống ---
.DS_Store